@import "./base";

@import "./components/botones";
@import "./components/header";

@import "./pages/carousel";
@import "./pages/contacto";


$animation-duration: 5s;
$animation-timing: linear;
$animation-iteration: infinite;
$max-width: 1400px;

.slider-container {
    width: 100%;
    max-width: $max-width;
    animation: change-color $animation-duration $animation-timing $animation-iteration;
    margin-bottom: 50px;
}

@keyframes change-color {
    0% {
        background: #819B94;
    }
    50% {
        background: #8680FF;
    }
    100% {
        background: #1A0752;
    }
}
